/* App.css or inline CSS */
.containers {
    display: flex;
  }
  
  .right-side {
    width: 30%; /* Take the other half of the screen */
    height: 500px;
    padding: 20px;
    overflow-y: auto; /* Allow scrolling if movie list gets long */
  }
  